@model IEnumerable<Models.EF.Relief>

@using PagedList;
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý cứu trợ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <div style="display:flex;">
        <i class="fa fa-user" style="font-size:30px; margin-top:20px;margin-left:10px"> </i>
        <h3>&nbsp;Quản lý đợt cứu trợ</h3>
    </div>
}

@using (Html.BeginForm("Index", "relief", FormMethod.Post))
{
    <div class="col-lg-12 form-group" style="margin-top:20px">
        <div class="col-md-6">
            <p>
                @Html.ActionLink("Tạo Mới", "Create", "relief", new { @class = "btn btn-danger" })
            </p>
        </div>

        <div class="col-md-3">
            <input type="text" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm kiếm" class="form-control" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm Kiếm" class="btn btn-info" />
        </div>
    </div>
}

    <div class="table-responsive">
        <div>
            <table class="table  table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center text-primary yellow-bg-prd">STT</th>
                        <th class="text-center text-primary yellow-bg-prd">Tiêu đề</th>
                        <th class="text-center text-primary yellow-bg-prd">Mô tả</th>
                        <th class="text-center text-primary yellow-bg-prd">Nội dung</th>
                        <th class="text-center text-primary yellow-bg-prd">Địa chỉ</th>
                        <th class="text-center text-primary yellow-bg-prd">Loại cứu trợ</th>
                        <th class="text-center text-primary yellow-bg-prd">Thời gian gửi</th>
                        <th class="text-center text-primary yellow-bg-prd">Trạng thái</th>                       
                        <th class="text-center text-primary yellow-bg-prd">Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID_relieft">
                            <td class="tab-bg-dark-navy-blue" align="center">@i</td>
                            <td align="center">@item.Title</td>
                            <td>@item.Description</td>
                            <td align="center">@item.Content </td>
                            <td align="center">@item.Ward.Name_ward </td>
                            <td align="center">@item.Relief_classification.Description </td>
                            <td align="center">@item.Time_sent_post </td>
                            @if(item.status == "1"){ <td align="center">Chưa duyệt</td> }
                            else { <td align="center">Đã duyệt</td>}

                            <td align="center">
                                <a href="~/Admin/Relief/Details/@item.ID_relieft"><i class="fa fa-question-circle text-warning" style="font-size:20px;"></i></a>
                                <a href="~/Admin/Relief/Edit/@item.ID_relieft"><i class="fa fa-edit text-primary" style="font-size:20px;"></i></a>
                                <a href="~/Admin/Relief/Delete/@item.ID_relieft"><i class="fa fa-trash-o text-danger " style="font-size:20px;" onclick="return confirm('Bạn có chắc chắn muốn xóa @item.Title không ?');"></i></a>
                            </td>
                        </tr>
                        i = i + 1;
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
    </div>
