@using Models.EF;
@model List<Relief>

@{
    ViewBag.Title = "Toàn bộ sự kiện";
}

<main>
    <div class="breadcrumb-area text-center shadow dark bg-fixed padding-xl text-light" style="background-image: url(/Assets/Client/image/baner2.jpg); ">
        <div class="container">
            <div class="breadcrumb-items">
                <div class="row">
                    <div class="col-lg-12">
                        @*<h2>Latest Event</h2>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="event-area container">
        <div class="event-grid-items">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <div class="item">
                        <div class="row">
                            @if (item.Proofs != null && item.Proofs.Any())
                            {
                                <div class="thumb col-lg-5" style="background-image: url(@item.Proofs.First().Link);">
                                    <div class="date">
                                        @item.Start_date.Value.Day <strong>@item.Start_date.Value.Month</strong>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="thumb col-lg-5" style="background-image: url(/Assets/Client/image/event/1.jpg);">
                                    <div class="date">
                                        @item.Start_date.Value.Day <strong>@item.Start_date.Value.Month</strong>
                                    </div>
                                </div>
                            }

                            <div class="info col-lg-7">
                                <h4>
                                    <a href="@Url.Action("DetailEvent", new { id = item.ID_relieft })">@item.Title</a>
                                </h4>
                                <p>
                                    @item.Content
                                </p>
                                <ul class="date">
                                    @*<li>
                                    <i class="fas fa-clock"></i> @
                                </li>*@
                                    <li>
                                        <i class="fas fa-calendar-alt"></i> @item.map
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @*<div class="relief-bottom">
            <a href="#" class="relief-bottom-more">
                Xem thêm ....
            </a>
        </div>*@
    </div>
</main>