@model Models.EF.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <div style="display:flex;">
        <i class="fa fa-user" style="font-size:30px; margin-top:20px;margin-left:10px"> </i>
        <h3>&nbsp;Tạo</h3>
    </div>
}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    NHẬP VÀO THÔNG TIN ĐỂ THÊM SẢN PHẨM
                </div>
                <div class="form-group">
                    @Html.ActionLink("Back to List", "Index", "Personal", new { @class = "btn btn-success" })
                </div>
                <div style="padding:20px 7px 20px 20px; ">
                    @using (Html.BeginForm("Create", "Product", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-md-10">
                                @Html.LabelFor(model => model.ID_cate, new { htmlAttributes = new { @for = "form-check-label" } })
                                @Html.DropDownListFor(model => model.ID_cate, ViewBag.ID_cate as SelectList, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-10">
                                @Html.LabelFor(model => model.ID_product, new { htmlAttributes = new { @class = "form-check-label " } })
                                @Html.EditorFor(model => model.ID_product, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ID_product, "", new { @class = "text-danger" })
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-md-10">
                                @Html.LabelFor(model => model.Name_product, new { htmlAttributes = new { @for = "form-check-label" } })
                                @Html.EditorFor(model => model.Name_product, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name_product, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </div>

                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>CKEDITOR.replace('txt');</script>
